header{
    background: linear-gradient(0.25turn, darkblue, blue, lightblue);
    color: white;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1{
    text-align: center;
}

main{
    display: flex;
}

#search-window{
    display: flex;
    flex-direction: column;
    max-width: 20%;
}

#search-button{
    border: 1px solid grey;
    border-radius: 5px;
    height: 20px;
    padding: 2px 23px 2px 30px;
    margin-top: 10px;
    background: linear-gradient(0.15turn, blue, lightblue);
    color: white;
    transition: .3s;
}

#search-button:hover{
    box-shadow: inset -1px -3px 15px 2px white;
}

#city-search{
  border: 2px solid blue;
  border-radius: 5px;
  min-height: 20px;
}

.horizontal-line{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    border: 1px solid blue;
}
#weather-window{
    display: flex;
    flex-direction: column;
}

#city-name-display{
    text-transform: capitalize;
}

#current-weather-uvi{
    display: inline-block;
    width: 50px;
    text-align: center;
    border-radius: 10px;
}

#five-day-forecast{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
}

#five-day-forecast-header{
    flex-basis: 100%;
}

img{
    height: 50px;
    width: 50px;
    vertical-align: middle;
}

.card{
    margin: 10px;
    background-color: slateblue;
    color: white;
    width: 150px;
    height: fit-content;
    padding: 0px 20px 20px 10px;
    box-shadow: 0 4px 8px 0 rgb(62 77 179);
}


