h1{
    text-align: center;
}

main{
    display: flex;
}

#search-window{
    display: flex;
    flex-direction: column;
    max-width: 20%;
}

#weather-window{
    display: flex;
    flex-direction: column;
}

#city-name-display{
    text-transform: capitalize;
}

#current-weather-uvi{
    display: inline-block;
    width: 50px;
    text-align: center;
    border-radius: 10px;
}

#five-day-forecast{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
}

#five-day-forecast-header{
    flex-basis: 100%;
}

img{
    height: 50px;
    width: 50px;
    vertical-align: middle;
}

.card{
    margin: 10px;
}

