h1{
    text-align: center;
}

main{
    display: flex;
}

#search-window{
    display: flex;
    flex-direction: column;
    max-width: 20%;
}

#weather-window{
    display: flex;
    flex-direction: column;
}

#city-name-display{
    text-transform: capitalize;
}

img{
    height: 50px;
    width: 50px;
    vertical-align: middle;
}